	<legend class="flex-form__field-title">{{title}} {{#if doc_link}}<a href="{{doc_link}}" target="_blank"><i class="fa fa-info-circle"></i></a>{{/if}}</legend>
	<div class="flex-form__select">
		<select name="{{name}}">
			{{#each options}}
				<option value="{{value}}" {{#if selected}}selected{{/if}}>{{name}}</option>
			{{/each}}
		</select>
		<i class="fa fa-chevron-down"></i>
	</div>